<%-include('partials/head') %>
        <h1>NEW</h1>
        

        <form method="POST" action="/">
            <div class="card">
                <div>
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name" required>
                </div>
    
                <div>
                    <label for="race">Race: </label>
                    <input type="text" id="race" name="race" required>
                </div>
    
                <div>
                    <label for="gender">Gender: </label>
                    <input type="text" id="gender" name="gender" required>
                </div>
    
                <div>
                    <label for="proffession">Proffession: </label>
                    <input type="text" id="proffession" name="proffession" required>
                </div>

                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>